<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Upload Dataset</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</head>

<body>

<header>

<h1>Upload Dataset</h1>

<div class="navbar-nav ms-auto">

<a class="nav-link active" href="/">Dashboard</a>

<a class="nav-link" href="/upload">Upload Dataset</a>

{% if username %}

<span class="navbar-text me-3">

👤 {{ username }}

</span>

<a class="nav-link" href="/logout">

Logout

</a>

{% else %}

<a class="nav-link" href="/login">

Login

</a>

{% endif %}

</div>

</header>

<main>

<form
    id="upload-form"
    action="/datasets"
    method="POST"
    enctype="multipart/form-data">

<label>Dataset Name</label>
<input
    type="text"
    name="dataset_name"
    required>

<label>Organisation</label>
<input
    type="text"
    name="organisation">

<label>Source System</label>
<input
    type="text"
    name="source_system">

<label>Domain</label>
<input
    type="text"
    name="domain">

<label>Uploaded By</label>
<input
    type="text"
    name="uploaded_by">

<label>Notes</label>
<textarea
    name="notes">
</textarea>


{% if username %}

<div class="mb-3">

    <label class="form-label">

        Dataset Visibility

    </label>

    <div class="form-check">

        <input
            class="form-check-input"
            type="radio"
            name="visibility"
            id="public"
            value="public"
            checked>

        <label class="form-check-label" for="public">

            Public

        </label>

    </div>

    <div class="form-check">

        <input
            class="form-check-input"
            type="radio"
            name="visibility"
            id="private"
            value="private">

        <label class="form-check-label" for="private">

            Private

        </label>

    </div>

</div>

{% endif %}

<label>Select CSV</label>
<input
    type="file"
    name="file"
    accept=".csv"
    required>

<button type="submit">

Upload Dataset

</button>

</form>

</main>


</body>

</html>